/* .carousel {
    --carousel-control-icon-font-size: #{$carousel-control-icon-font-size};
    --carousel-control-icon-font-weight: #{$font-weight-bold};
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      font-size: var(--carousel-control-icon-font-size);
      font-weight: var(--carousel-control-icon-font-weight);
    }
  
 
  } */